<main class="scroll-bg">
  <header>
      <img src="../assets/java.png" alt="fairhouse">Coffes House Finder
  </header>
  <section>
      <app-housing-list [locationList]="housingLocationList" (selectedLocationEvent)="updateSelectedLocation($event)"></app-housing-list>

  </section>
  <article class="aticle">
    <ng-container>
      <img [src]="selectedLocation?.photo">
      <p>{{selectedLocation?.name}}</p>
      <p>{{selectedLocation?.city}}, {{selectedLocation?.state}}</p>
      <p>Available Units: {{selectedLocation?.availableUnits}}</p>
      <p>{{selectedLocation?.laundry ? "Has laundry" : "Does Not have laundry"}}</p>
      <p>{{selectedLocation?.wifi ? "Has wifi" : "Does Not have wifi"}}</p>
      </ng-container>
  </article>
</main>